$Regular: 400
$Medium: 500
$Bold:700

$RedHatDisplay: ("Regular", $Regular), ("Medium", $Medium), ("Bold", $Bold)

@each $name, $weight in $RedHatDisplay
    @font-face 
        font-family: "RHD"
        src: url("@/assets/fonts/RedHatDisplay-#{$name}.ttf")
        font-weight: $weight

$Roboto: ("Regular", $Regular), ("Medium", $Medium)

@each $name, $weight in $Roboto 
    @font-face 
        font-family: "Roboto"
        src: url("@/assets/fonts/Roboto-#{$name}.ttf")
        font-weight: $weight

    